<form class="form" [formGroup]="editForm" #formDirective="ngForm">
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-icon matPrefix>title</mat-icon>
      <input type="text" matInput placeholder="Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>text_fields</mat-icon>
      <input
        type="text"
        matInput
        placeholder="Subtitle"
        formControlName="subtitle"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-date-range-input [rangePicker]="picker">
        <input
          placeholder="Start Date"
          matStartDate
          formControlName="startDate"
        />
        <input placeholder="End Date" matEndDate formControlName="endDate" />
      </mat-date-range-input>

      <mat-datepicker-toggle
        matIconPrefix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <app-autocomplete
      isRequired="true"
      placeholder="Location"
      showSuggestionsKey="formatted"
      [initialValue]="(selectedJourney | async)?.location"
      [suggestions]="suggestedLocations | async"
      (onInputChanges)="getLocation($event)"
      (onSelectedValue)="setNewLocation($event)"
    ></app-autocomplete>

    <mat-form-field>
      <mat-icon matPrefix>text_fields</mat-icon>
      <textarea
        placeholder="Description"
        cdkTextareaAutosize
        matInput
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <!-- <mat-error *ngIf="checkValidation('coordinates')">
            {{ getErrorCoordinates() }}
          </mat-error> -->

    <mat-form-field>
      <mat-icon matPrefix>terrain</mat-icon>
      <textarea
        placeholder="Activities"
        cdkTextareaAutosize
        matInput
        formControlName="recreation"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>local_hotel</mat-icon>
      <textarea
        placeholder="Hosting"
        cdkTextareaAutosize
        matInput
        formControlName="hosting"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>directions_bus</mat-icon>
      <textarea
        placeholder="Transport"
        cdkTextareaAutosize
        matInput
        formControlName="transport"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>euro_symbol</mat-icon>
      <input placeholder="Price" matInput formControlName="price" />
      <mat-error *ngIf="checkValidation('price')">
        Price is required and must be a number
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>accessibility</mat-icon>
      <mat-select placeholder="Autonomy" formControlName="autonomy">
        <option selected></option>
        <mat-option
          *ngFor="let item of ['GOOD', 'RELATIVE', 'IMPORTANT']"
          value="{{ item }}"
          >{{ item }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="row">
      <mat-form-field class="col">
        <mat-icon matPrefix>accessible_forward</mat-icon>
        <input
          type="number"
          placeholder="Group size"
          matInput
          formControlName="groupSize"
        />
      </mat-form-field>
      <mat-form-field class="col">
        <mat-icon matPrefix>group</mat-icon>
        <input
          type="number"
          placeholder="Companions"
          matInput
          formControlName="companions"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Images table -->
  <div>
    <input
      hidden="true"
      type="file"
      multiple
      accept="image/*"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <div class="p-2">
      <button mat-raised-button type="button" (click)="fileUpload.click()">
        <mat-icon>add</mat-icon>
        images
      </button>
    </div>

    <div *ngIf="dataSource.getValue().length" class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Files name</th>
          <td mat-cell *matCellDef="let element">{{ element }}</td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete file</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-stroked-button
              type="button"
              (click)="removeRow(element)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row sticky *matHeaderRowDef="['name', 'delete']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'delete']"></tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-around p-2">
    <button
      color="primary"
      type="button"
      [disabled]="editForm.invalid || (isLoading | async)"
      mat-raised-button
      (click)="submitForm()"
    >
      {{ this.id === 'new' ? 'Create' : 'Update' }}
    </button>
    <button
      *ngIf="this.id !== 'new'"
      color="primary"
      type="button"
      [disabled]="isLoading | async"
      mat-raised-button
      (click)="deleteJourney()"
    >
      Delete
    </button>
    <mat-progress-bar
      class="p-1"
      *ngIf="isLoading | async"
      color="warn"
      mode="query"
    ></mat-progress-bar>
  </div>
</form>
