# data
db

# dependencies
node_modules
certificats

# build
build
dist

# misc
.DS_Store
.env
environment

# Visual Studio Code
.vscode/**/*

# Miscellaneous
cache
assets
docker_secrets

# System Files  
.DS_Store  
Thumbs.db 