<div class="sticky-top">
  <mat-toolbar color="primary" class="shadow">
    <div
      class="container-fluid d-flex justify-content-between align-items-center font-weight-bold"
    >
      <div class="mr-4">
        <button
          mat-icon-button
          class="d-lg-none"
          type="button"
          (click)="onSideNav.emit(navItems)"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <img
        src="../../../assets/logo-removebg.png"
        width="200"
        height="65"
        alt="logo handouceur"
        class="d-sm-inline"
      />

      <div class="d-none d-md-none d-lg-block">
        <button
          *ngFor="let item of navItems | async"
          mat-button
          [routerLink]="item.routerLink"
        >
          <span class="ml-4">
            <b>{{ item.name }}</b>
          </span>
        </button>
      </div>

      <div class="pill">
        <button
          type="button"
          color="none"
          mat-mini-fab
          routerLink="{{ (user | async) ? 'profile' : 'register' }}"
        >
          <ng-container *ngIf="profileImg | async; else iconTemplate">
            <img [src]="profileImg | async" alt="Profile image" />
          </ng-container>

          <ng-template #iconTemplate>
            <mat-icon class="align-middle">person_outline</mat-icon>
          </ng-template>
        </button>

        <ng-container *ngIf="user | async">
          <span
            >{{ (user | async)?.firstName }}
            {{ (user | async)?.lastName }}</span
          >
        </ng-container>
        <div class="separator"></div>
        <div style="margin-left: -15px">
          <button
            type="button"
            color="none"
            mat-mini-fab
            (click)="changeTheme()"
          >
            <ng-container
              class="align-middle"
              *ngIf="!(isDarkTheme | async); else bedTimeTemplate"
            >
              <mat-icon class="align-middle">lightbulbe_outline</mat-icon>
            </ng-container>
            <ng-template #bedTimeTemplate>
              <mat-icon class="align-middle">bedtime</mat-icon>
            </ng-template>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
