<div class="wrapper">
  <mat-toolbar color="primary" class="shadow p-3 mb-5 d-flex flex-wrap h-auto">
    <div
      class="container-fluid d-flex justify-content-between align-items-center font-weight-bold"
    >
      <img
        src="../../../assets/logo-removebg.png"
        width="200"
        height="70"
        alt="logo handouceur"
        class="branding spacer d-none d-sm-inline"
      />

      <span class="d-flex flex-wrap">
        <button mat-button routerLink="home" routerLinkActive="active">
          <span class="p-3"> <b>Home</b> </span>
        </button>
        <button mat-button routerLink="about" routerLinkActive="active">
          <span class="p-3"><b>About us</b></span>
        </button>
        <button mat-button routerLink="contact" routerLinkActive="active">
          <span class="p-3"><b>Contact</b> </span>
        </button>
        <button
          *ngIf="isAdmin"
          routerLink="admin"
          mat-button
          routerLinkActive="active"
        >
          <span class="p-3"><b>Admin</b> </span>
        </button>
      </span>

      <span class="pill">
        <ng-container *ngIf="userToken | async; else elseTemplate">
          <button mat-button routerLink="profile/{{ tokenId }}">
            <mat-icon color="warn">account_circle</mat-icon>
            <span class="d-none d-sm-inline">{{ tokenUserName }}</span>
          </button>
        </ng-container>

        <ng-template #elseTemplate>
          <button mat-button routerLink="home/register">
            <mat-icon>person_outline</mat-icon>
          </button>
        </ng-template>

        <button mat-button (click)="changeTheme()">
          <mat-icon *ngIf="!(isDarkTheme | async)">lightbulbe_outline</mat-icon>
          <mat-icon *ngIf="isDarkTheme | async">bedtime</mat-icon>
        </button>
      </span>
    </div>
  </mat-toolbar>
</div>
