@use '@angular/material' as mat;

@import './variables.scss';

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-dark-primary,
      accent: $angular-dark-accent,
      warn: $angular-dark-warn,
    ),
  )
);

$angular-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-light-primary,
      accent: $angular-light-accent,
      warn: $angular-light-warn,
    ),
  )
);
