<div class="container flex-column">
  <div class="d-flex justify-content-center p-2 font-weight-light">
    <form
      [formGroup]="registerForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(registerForm, formDirective)"
    >
      <div class="text-center">
        <p>
          <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <input
              autofocus
              type="email"
              matInput
              placeholder="Email *"
              formControlName="email"
              (focusout)="checkEmailExist()"
            />
          </mat-form-field>
          <mat-error *ngIf="checkValidation('email')">
            {{ getErrorEmail() }}
          </mat-error>
        </p>

        <p>
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input
              autofocus
              type="text"
              matInput
              placeholder="Username *"
              formControlName="username"
            />
          </mat-form-field>
          <mat-error *ngIf="checkValidation('username')">
            {{ getErrorUsername() }}
          </mat-error>
        </p>

        <p>
          <mat-form-field>
            <mat-icon matPrefix (click)="togglePasswordVisibility()">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <input
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="false"
              matInput
              placeholder="Password *"
              formControlName="password"
            />
          </mat-form-field>
          <mat-error *ngIf="checkValidation('password')">
            {{ getErrorPassword() }}
          </mat-error>
        </p>
      </div>

      <div *ngIf="!this.authService.registered" class="row row-cols-1 p-3">
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          mat-raised-button
        >
          Register
        </button>
      </div>
      <div
        *ngIf="this.authService.registered"
        class="d-flex justify-content-around p-2"
      >
        <p>User created, please login.</p>
      </div>
    </form>
  </div>
  <hr />
  <div class="font-weight-light justify-content-center text-center">
    <p>Already an account ?</p>
    <p>Login:</p>
    <p>
      <button mat-icon-button matDialogClose="true" routerLink="home/login">
        <mat-icon>person_outline</mat-icon>
      </button>
    </p>
  </div>
</div>
