<div [class]="currentTheme | async">
  <div class="mat-app-background">
    <!-- App headers -->
    <app-nav (onSideNav)="toogleSideNav($event)"></app-nav>
    <!-- Side Bar navigation -->
    <mat-drawer-container autosize>
      <mat-drawer #drawer mode="over">
        <div class="d-flex flex-column p-4 align-items-start">
          <button
            *ngFor="let item of sideNavItems | async"
            class="mt-4 text-left"
            mat-button
            [routerLink]="item.routerLink"
          >
            <span
              ><b>{{ item.name }}</b>
            </span>
          </button>
        </div>
      </mat-drawer>
      <!-- App content -->
      <div>
        <router-outlet></router-outlet>
      </div>
      <!-- App footer -->
      <app-footer></app-footer>
    </mat-drawer-container>
  </div>
</div>
