.card-label {
  position: absolute;
  text-align: center;
  padding: 1px;
  top: -10px;
  left: 260px;
  z-index: 1;
  width: 100px;
  font-size: small;
  line-height: 1;
  box-shadow: rgba(62, 62, 62, 0.2) 0px 2px 8px 0px;
}
.card {
  position: relative;
  max-width: 370px;
}
.description-wrapper {
  margin-top: 10px;
}

.description-wrapper p {
  line-height: 1.4;
  font-size: small;
}
.map {
  float: left;
  shape-outside: circle(50%);
  margin-right: 15px;
}
