<!-- carousel -->
<div class="carousel">
  <ng-container>
    <img
      #img
      mat-card-image
      loading="lazy"
      class="slide"
      [alt]="journey.title"
      [src]="currentSlide.src"
    />

    <ngx-skeleton-loader
      *ngIf="!isImageLoaded"
      class="w-100 slide"
      [theme]="{ height: '281px' }"
    ></ngx-skeleton-loader>
  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <mat-icon class="font-weight-bold">arrow_back_ios</mat-icon>
  </button>
  <button class="control next" (click)="onNextClick()">
    <mat-icon class="font-weight-bold">arrow_forward_ios</mat-icon>
  </button>
</div>
