<!-- carousel -->
<div class="carousel">
  <ngx-skeleton-loader
    *ngIf="!(isImageLoaded | async)"
    class="slide"
    [theme]="{ height: '281px' }"
  ></ngx-skeleton-loader>
  <ng-container *ngIf="slides; else noSlidesTemplate">
    <img
      #img
      mat-card-image
      loading="lazy"
      class="slide"
      [alt]="journey.title"
      [src]="currentSlide.key"
    />
  </ng-container>
  <ng-template #noSlidesTemplate>
    <img mat-card-image loading="lazy" class="slide" [src]="fallbackImageUrl" />
  </ng-template>

  <!-- controls -->
  <div *ngIf="journey.images && journey.images.length > 1">
    <button class="control prev" (click)="onPreviousClick()">
      <mat-icon class="font-weight-bold">arrow_back_ios</mat-icon>
    </button>
    <button class="control next" (click)="onNextClick()">
      <mat-icon class="font-weight-bold">arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
