<div class="container flex-column">
  <div class="d-flex justify-content-center p-2">
    <mat-form-field>
      <input
        style="min-height: 35px"
        matInput
        placeholder="me@example.com"
        [formControl]="email"
        required
      />
      <mat-error style="font-size: small" *ngIf="email.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="row justify-content-around p-3">
    <button mat-raised-button mat-dialog-close="true">Close</button>
    <button
      disabled="{{ email.invalid }}"
      mat-raised-button
      (click)="tryLogin()"
      mat-dialog-close="true"
    >
      Login
    </button>
  </div>
</div>
