<div class="position-relative">
  <mat-card class="journey-label-right">
    <mat-card-content class="p-1">
      <small>
        <p>
          Du: <br />
          <u>{{ journey.startDate | date }}</u>
        </p>
        <p>
          Au: <br />
          <u>{{ journey.endDate | date }}</u>
        </p>
        <p>Prix: {{ journey.price | currency }}</p>
      </small>
    </mat-card-content>
  </mat-card>
  <mat-card class="journey">
    <mat-card-header class="row justify-content-center text-center">
      <mat-card-title style="font-family: cursive"
        ><h5>{{ journey.title }}</h5>
      </mat-card-title>
      <mat-card-subtitle>{{ journey.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="isLoading">
      <ngx-skeleton-loader
        class="p-2 w-100"
        [theme]="{ height: '281px' }"
      ></ngx-skeleton-loader
    ></ng-container>
    <img
      id="{{ 'image-' + journey.id }}"
      class="p-2"
      mat-card-image
      loading="lazy"
      src="{{ journey.imageUrl }}"
      alt="{{ journey.title }}"
    />
    <mat-card-content class="font-weight-light">
      <div class="description-wrapper">
        <div class="map">
          <app-map
            [mapId]="journey.id || 0"
            [coordinates]="journey.coordinates || [0, 0]"
          ></app-map>
        </div>
        <p>
          {{ journey.description }}
        </p>
      </div>
    </mat-card-content>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-description> En voir plus </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-card-actions class="row justify-content-around p-2">
      <button mat-raised-button>SHARE</button>
      <button
        *ngIf="isAdmin | async"
        mat-raised-button
        routerLink="edit/{{ journey.id }}"
      >
        EDIT
      </button>
    </mat-card-actions>
  </mat-card>
</div>
