.journey-label-right {
  position: absolute;
  text-align: center;
  top: -9px;
  left: 292px;
  z-index: 1;
  width: 65px;
  height: 110px;
  font-size: x-small;
  line-height: 1.3;
}
.journey {
  position: relative;
  max-width: 370px;
}
.description-wrapper {
  margin-top: 10px;
}

.description-wrapper p {
  line-height: 1.4;
  font-size: small;
}
.map {
  float: left;
  shape-outside: circle(50%);
  margin-right: 15px;
}
