.journey-label-right {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  top: -0.5em;
  right: 0.5em;
  font-size: x-small;
  border-radius: 20%;
}
.journey {
  position: relative;
  max-width: 400px;
}
.description-wrapper {
  margin-top: 10px;
}

.description-wrapper p {
  line-height: 1.4;
  font-size: small;
  font-weight: 300;
}
.map {
  float: left;
  shape-outside: circle(50%);
  margin-right: 10px;
}
.mat-mdc-standard-chip {
  margin: 4px;
  max-height: 25px;
  pointer-events: none;
  font-size: x-small;
  font-weight: bold;
}
