@use '@angular/material' as mat;
@import '../../../styles/variables.scss';

// $color-config: mat.get-color-config($angular-light-theme);
// // get the chosen palette : primary, accent, warn
// $primary-palette: map.get($color-config, 'primary');

.journey {
  margin-top: 15px;
  max-width: 400px;
}
.description-wrapper {
  margin-top: 10px;
}

.description-wrapper p {
  line-height: 1.4;
  font-size: small;
  font-weight: 300;
}
.map {
  float: left;
  shape-outside: circle(50%);
  margin-right: 10px;
}
.mat-mdc-standard-chip {
  margin: 4px;
  height: 20px;
  pointer-events: none;
  font-size: x-small;
  font-weight: bold;
}

.chips {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: mat.get-color-from-palette($angular-light-primary);
  color: grey;
  font-size: small;
  font-weight: bold;
}
