<div class="container flex-column">
  <div class="d-flex justify-content-center p-2">
    <form
      [formGroup]="loginForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(loginForm, formDirective)"
    >
      <div class="text-center">
        <p>
          <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <input
              autofocus
              type="email"
              matInput
              placeholder="Email *"
              formControlName="email"
            />
          </mat-form-field>
          <mat-error *ngIf="checkValidation('email')">
            {{ getErrorEmail() }}
          </mat-error>
        </p>

        <p>
          <mat-form-field>
            <mat-icon matPrefix (click)="togglePasswordVisibility()">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <input
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="false"
              matInput
              placeholder="Password *"
              formControlName="password"
            />
          </mat-form-field>
          <mat-error *ngIf="checkValidation('password')">
            {{ getErrorPassword() }}
          </mat-error>
        </p>
      </div>

      <div class="row row-cols-1 p-3">
        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button>
          Login
        </button>
      </div>
      <div
        *ngIf="this.authService.user"
        class="d-flex justify-content-around p-2"
      >
        <mat-chip-option disabled="true" color="accent" selected
          >Success</mat-chip-option
        >
      </div>
      <mat-error
        *ngIf="this.authService.errorMessage && !this.authService.user"
        class="d-flex justify-content-around p-2"
      >
        {{ this.authService.errorMessage }}
      </mat-error>
    </form>
  </div>
</div>
